/**
 * NavBar.css
 * Styles the words icons on the nav bar.
 * @version 2023.11.03
 */
.nav {
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav:hover {
    color: #FFA500;
    transform: scale(1.05);
}

.nav-links {
    display: flex;
    pointer-events: auto;
}

.nav-link {
    text-decoration: none;
    margin-right: 15px;
}
